<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
You can predict the drug type here !!!!
thank you !!!!

<form method="post" action="/result">
    
<label>age</label>
<input type="text" name="agee">

<label>sex</label>
<input type="text" name="sex">

<label>bp</label>
<input type="text" name="bp">

<label>chol</label>
<input type="text" name="chol">

<label>na</label>
<input type="text" name="na">

<input type="submit">

</form>>


</body>
</html>